* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}

a,
ul {
    text-decoration: none;
    list-style: none;
}

.header {
    padding: 40px;
    text-align: center;
    background-color: bisque;

}

.navbar {
    display: flex;
    background-color: black;
}

.navbar a {
    color: #fff;
    padding: 14px 20px;
    text-align: center;
}

.navbar a:hover {
    background-color: rgba(101, 77, 47, 0.227);
}

#main {
    display: flex;
}

#sidebar {
    background-color: rgb(165, 145, 118);
    flex: 25%;
    order: 1;
}

.box {
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
}

#content {
    flex: 75%;
    padding: 20px;
}

.ph {
    width: 100%;
    background-color: #ffe4c45c;
    padding: 20px;
    margin-top: 10px;
}

#footer {
    background-color: #ddd;
    padding: 20px;

}

@media screen and (max-width:700px) {

    #main,
    .navbar {
        flex-direction: column;
    }

    #sidebar {
        order: -1;
    }
}